/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.AssemblyInfoInputs.cache
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.assets.cache
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.csproj.CoreCompileInputs.cache
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.csproj.FileListAbsolute.txt
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.dll
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.GeneratedMSBuildEditorConfig.editorconfig
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.GlobalUsings.g.cs
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.pdb
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.sourcelink.json
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/ref/BallastLane.Test.Core.dll
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/refint/BallastLane.Test.Core.dll
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/project.assets.json
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/project.nuget.cache
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.AssemblyInfo.cs
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.AssemblyInfoInputs.cache
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.assets.cache
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.csproj.CoreCompileInputs.cache
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.csproj.FileListAbsolute.txt
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.dll
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.GeneratedMSBuildEditorConfig.editorconfig
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.GlobalUsings.g.cs
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.pdb
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/BallastLane.Test.AccessData.sourcelink.json
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/ref/BallastLane.Test.AccessData.dll
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/refint/BallastLane.Test.AccessData.dll
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/project.assets.json
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/project.nuget.cache
/BallastLane.Test.Solution/BallastLane.Test.Core/bin/Debug/net9.0/BallastLane.Test.Core.deps.json
/BallastLane.Test.Solution/BallastLane.Test.Core/bin/Debug/net9.0/BallastLane.Test.Core.dll
/BallastLane.Test.Solution/BallastLane.Test.Core/bin/Debug/net9.0/BallastLane.Test.Core.pdb
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/BallastLane.Test.Core.csproj.nuget.dgspec.json
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/BallastLane.Test.Core.csproj.nuget.g.props
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/BallastLane.Test.Core.csproj.nuget.g.targets
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/BallastLane.Test.Solution/BallastLane.Test.Core/obj/Debug/net9.0/BallastLane.Test.Core.AssemblyInfo.cs
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.AssemblyInfo.cs
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.AssemblyInfoInputs.cache
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.assets.cache
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.csproj.AssemblyReference.cache
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.csproj.CoreCompileInputs.cache
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.csproj.FileListAbsolute.txt
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.dll
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.GlobalUsings.g.cs
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.pdb
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/BallasLane.Test.Infrastructure.sourcelink.json
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/ref/BallasLane.Test.Infrastructure.dll
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/Debug/net9.0/refint/BallasLane.Test.Infrastructure.dll
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/project.assets.json
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/project.nuget.cache
/BallastLane.Test.Solution/BallastLane.Test.AccessData/bin/Debug/net9.0/BallastLane.Test.AccessData.deps.json
/BallastLane.Test.Solution/BallastLane.Test.AccessData/bin/Debug/net9.0/BallastLane.Test.AccessData.dll
/BallastLane.Test.Solution/BallastLane.Test.AccessData/bin/Debug/net9.0/BallastLane.Test.AccessData.pdb
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/BallastLane.Test.AccessData.csproj.nuget.dgspec.json
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/BallastLane.Test.AccessData.csproj.nuget.g.props
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/BallastLane.Test.AccessData.csproj.nuget.g.targets
/BallastLane.Test.Solution/BallastLane.Test.AccessData/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/BallasLane.Test.Infrastructure.csproj.nuget.dgspec.json
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/BallasLane.Test.Infrastructure.csproj.nuget.g.props
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/obj/BallasLane.Test.Infrastructure.csproj.nuget.g.targets
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.dll
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.GeneratedMSBuildEditorConfig.editorconfig
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.genruntimeconfig.cache
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.GlobalUsings.g.cs
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.MvcApplicationPartsAssemblyInfo.cache
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.MvcApplicationPartsAssemblyInfo.cs
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.pdb
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.sourcelink.json
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/ref/BallasLane.Test.API.dll
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/refint/BallasLane.Test.API.dll
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/rpswa.dswa.cache.json
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/staticwebassets.build.endpoints.json
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/staticwebassets.build.json
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/staticwebassets.build.json.cache
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/staticwebassets.removed.txt
/BallastLane.Test.Solution/BallasLane.Test.API/obj/project.assets.json
/BallastLane.Test.Solution/BallasLane.Test.API/obj/project.nuget.cache
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/bin/Debug/net9.0/BallasLane.Test.Infrastructure.deps.json
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/bin/Debug/net9.0/BallasLane.Test.Infrastructure.dll
/BallastLane.Test.Solution/BallasLane.Test.Infrastructure/bin/Debug/net9.0/BallasLane.Test.Infrastructure.pdb
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/appsettings.Development.json
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/appsettings.json
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/BallasLane.Test.API.deps.json
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/BallasLane.Test.API.dll
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/BallasLane.Test.API.exe
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/BallasLane.Test.API.pdb
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/BallasLane.Test.API.runtimeconfig.json
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/BallasLane.Test.API.staticwebassets.endpoints.json
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/BallastLane.Test.Solution/BallasLane.Test.API/bin/Debug/net9.0/Microsoft.OpenApi.dll
/BallastLane.Test.Solution/BallasLane.Test.API/obj/BallasLane.Test.API.csproj.nuget.dgspec.json
/BallastLane.Test.Solution/BallasLane.Test.API/obj/BallasLane.Test.API.csproj.nuget.g.props
/BallastLane.Test.Solution/BallasLane.Test.API/obj/BallasLane.Test.API.csproj.nuget.g.targets
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/apphost.exe
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLa.76560D67.Up2Date
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.AssemblyInfo.cs
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.AssemblyInfoInputs.cache
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.assets.cache
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.csproj.AssemblyReference.cache
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.csproj.CoreCompileInputs.cache
/BallastLane.Test.Solution/BallasLane.Test.API/obj/Debug/net9.0/BallasLane.Test.API.csproj.FileListAbsolute.txt
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/CopilotIndices/17.14.1679.25730/CodeChunks.db
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/CopilotIndices/17.14.1679.25730/CodeChunks.db-shm
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/CopilotIndices/17.14.1679.25730/CodeChunks.db-wal
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/CopilotIndices/17.14.1679.25730/SemanticSymbols.db
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/CopilotIndices/17.14.1679.25730/SemanticSymbols.db-shm
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/CopilotIndices/17.14.1679.25730/SemanticSymbols.db-wal
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/DesignTimeBuild/.dtbcache.v2
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/FileContentIndex/0c1b700c-ee37-4596-a23c-eb991bc70ae1.vsidx
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/FileContentIndex/4d6364b3-a628-41cc-854b-a4f8e57235aa.vsidx
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/FileContentIndex/7fedbfb1-b3fb-436b-8a1f-6a679ed032a2.vsidx
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/FileContentIndex/a8d6a2c3-fde3-47f5-9f9d-b87ce8be0c89.vsidx
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/FileContentIndex/f2025e3d-9191-484d-8665-703e100b9bc6.vsidx
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/v17/.futdcache.v2
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/v17/.suo
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/v17/DocumentLayout.backup.json
/BallastLane.Test.Solution/.vs/BallastLane.Test.Solution/v17/DocumentLayout.json
/BallastLane.Test.Solution/.vs/ProjectEvaluation/ballastlane.test.solution.metadata.v9.bin
/BallastLane.Test.Solution/.vs/ProjectEvaluation/ballastlane.test.solution.projects.v9.bin
/BallastLane.Test.Solution/.vs/ProjectEvaluation/ballastlane.test.solution.strings.v9.bin
